html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.panam {
  /* Pina Coladas.. */ }
  .panam {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    color-profile: sRGB;
    rendering-intent: auto; }
    .panam h1, .panam h2, .panam h3,
    .panam h4, .panam h5, .panam h6 {
      font-weight: normal; }
    .panam h1 {
      font-size: 3em;
      line-height: 1;
      margin-bottom: 0.50em; }
    .panam h2 {
      font-size: 2em;
      margin-bottom: 0.75em; }
    .panam h3 {
      font-size: 1.5em;
      line-height: 1;
      margin-bottom: 1.00em; }
    .panam h4 {
      font-size: 1.2em;
      line-height: 1.25;
      margin-bottom: 1.25em; }
    .panam h5 {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 1.50em; }
    .panam h6 {
      font-size: 1em;
      font-weight: bold; }
    .panam p {
      margin: 0 0 1.5em; }
    .panam a {
      text-decoration: none; }
      .panam a:hover {
        text-decoration: underline; }
    .panam blockquote {
      margin: 1.5em;
      font-style: italic;
      padding: 1em; }
      .panam blockquote p {
        margin: 0; }
    .panam strong, .panam dfn {
      font-weight: bold; }
    .panam em, .panam dfn {
      font-style: italic; }
    .panam sup, .panam sub {
      line-height: 0; }
    .panam address {
      margin: 0 0 1.5em;
      font-style: italic; }
    .panam pre, .panam code, .panam tt {
      font: 1em andale mono, lucida console, monospace;
      line-height: 1.5; }
    .panam pre {
      margin: 1.5em 0;
      white-space: pre-wrap;
      line-height: 110%;
      padding: 1em; }
    .panam li ul, .panam li ol {
      margin: 0; }
    .panam ul, .panam ol {
      margin: 0 1.5em 1.5em 0;
      padding-left: 1.5em; }
    .panam ul {
      list-style-type: disc; }
    .panam ol {
      list-style-type: decimal; }
    .panam li {
      list-style-image: url("../img/bullet.png"); }
    .panam dl {
      margin: 0 0 1.5em 0; }
      .panam dl dt {
        font-weight: bold; }
    .panam dd {
      margin-left: 1.5em; }
    .panam table {
      margin-bottom: 1.4em;
      width: 100%; }
    .panam th {
      font-weight: bold; }
    .panam th, .panam td, .panam caption {
      padding: 4px 10px 4px 5px; }
    .panam tfoot {
      font-style: italic; }
    .panam img.help {
      cursor: help; }
    .panam li p {
      margin: 0; }
  .panam form label {
    display: block;
    font-weight: bold; }
  .panam form fieldset {
    padding: 1.4em;
    margin: 0 0 1.5em 0; }
  .panam form legend {
    font-weight: bold;
    font-size: 1.2em; }
  .panam form input[type=email], .panam form input[type=url], .panam form input[type=text], .panam form input[type=password] {
    margin: 0.5em 0;
    width: 50%;
    padding: 0.5em; }
  .panam form textarea {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 70%;
    height: 300px; }
  .panam form select {
    margin: 0.5em 0; }
  .panam form ul.errorlist {
    margin: 0;
    padding: 0; }
    .panam form ul.errorlist li {
      list-style: none;
      display: inline; }
  .panam .container {
    *zoom: 1;
    max-width: 60em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    background-origin: content-box;
    background-clip: content-box; }
    .panam .container:after {
      content: "";
      display: table;
      clear: both; }
  .panam #header, .panam #footer {
    clear: both; }
  @media (min-width: 1024px) {
    .panam .container {
      max-width: 85em; }
    .panam #content, .panam.right-sidebar #content {
      width: 65.89147%;
      float: left;
      margin-right: 1.16279%; }
    .panam #sidebar, .panam.right-sidebar #sidebar {
      width: 32.94574%;
      float: right;
      margin-right: 0; }
    .panam.left-sidebar #content {
      width: 65.89147%;
      float: right;
      margin-right: 0; }
    .panam.left-sidebar #sidebar {
      width: 32.94574%;
      float: left;
      margin-right: 1.16279%; }
    .panam.no-sidebar #content {
      width: 100%;
      float: left;
      margin-right: 1.16279%; }
    .panam.no-sidebar #sidebar {
      display: none; } }
  .panam #header {
    margin-bottom: 1em; }
    .panam #header h1 {
      margin-top: 0.5em;
      margin-bottom: 0;
      font-weight: bold; }
      .panam #header h1:first-letter {
        font-size: 130%; }
    .panam #header blockquote {
      border: none;
      background: none;
      margin: 0 0 1.5em 0;
      padding: 0 1.5em 0 0; }
    .panam #header form {
      float: right;
      clear: both;
      display: none; }
      .panam #header form input[type=text] {
        width: 85%;
        background-image: url("../img/search.png");
        background-repeat: no-repeat;
        background-position: 5px center;
        padding-left: 25px;
        border-radius: 5px; }
      .panam #header form input[type=submit] {
        display: none; }
    .panam #header .top-navigation {
      margin: 0;
      float: right;
      display: none; }
      .panam #header .top-navigation li {
        list-style: none;
        display: inline; }
        .panam #header .top-navigation li:after {
          content: "|"; }
        .panam #header .top-navigation li:last-child:after {
          content: ""; }
        .panam #header .top-navigation li.last:after {
          content: ""; }
      .panam #header .top-navigation .sitemap {
        background: transparent url("../img/sitemap.png") no-repeat scroll left center;
        padding-left: 1.5em; }
      .panam #header .top-navigation .feeds {
        background: transparent url("../img/rss.png") no-repeat scroll left center;
        padding-left: 1.5em; }
    @media (min-width: 480px) {
      .panam #header form, .panam #header .top-navigation {
        display: block; } }
    @media (min-width: 768px) {
      .panam #header h1 {
        font-size: 4em; } }
    @media (min-width: 1024px) {
      .panam #header h1 {
        background: transparent url("../img/logo.png") no-repeat scroll left center;
        padding-left: 1.5em; }
      .panam #header blockquote {
        margin-left: 6em; } }
  .panam .slider-container {
    height: auto;
    max-width: 800px;
    position: relative;
    margin-bottom: 1em;
    clear: both; }
    .panam .slider-container ul, .panam .slider-container ol, .panam .slider-container li {
      margin: 0;
      padding: 0;
      list-style: none; }
  .panam .slider {
    width: 100%;
    position: relative;
    background: url("../img/loader.gif") no-repeat center center; }
  .panam .slides:before, .panam .slides:after {
    content: " ";
    height: 0;
    display: block;
    overflow: hidden; }
  .panam .slides:after {
    clear: both; }
  .panam .slide {
    display: none;
    position: relative; }
    .panam .slide img {
      width: 100%;
      height: 250px;
      display: block; }
  .panam .slide-content {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding: 1em 2em; }
    .panam .slide-content h2, .panam .slide-content p {
      text-shadow: 1px 1px 0 #000000;
      background-color: rgba(0, 0, 0, 0.7); }
    .panam .slide-content h2 {
      padding: 0.25em;
      font-weight: bold;
      display: inline-block; }
    .panam .slide-content p {
      color: #fff;
      padding: 1em;
      display: none; }
  .panam ol.flex-control-nav {
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-top: 1em; }
    .panam ol.flex-control-nav li {
      display: inline;
      margin: 0 0.5em; }
      .panam ol.flex-control-nav li a {
        height: 0;
        width: 8px;
        overflow: hidden;
        padding-top: 8px;
        display: inline-block;
        border-radius: 10px;
        -moz-border-radius: 10px; }
  .panam .flex-direction-nav a {
    height: 0;
    width: 14px;
    padding-top: 22px;
    display: block;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    opacity: 0.7; }
    .panam .flex-direction-nav a:hover {
      opacity: 1; }
  .panam .flex-direction-nav .prev {
    left: 0;
    background: url("../img/prev.png") no-repeat center center; }
  .panam .flex-direction-nav .next {
    right: 0;
    background: url("../img/next.png") no-repeat center center; }
  @media (min-width: 900px) {
    .panam .slider-container {
      padding-left: 8.43373%;
      padding-right: 8.43373%; }
    .panam .slide-content h2 {
      font-size: 3em; }
    .panam .slide-content p {
      font-size: 1.2em;
      display: inline-block; }
    .panam .slide img {
      height: 360px; }
    .panam .flex-direction-nav .prev {
      bottom: 7em;
      left: -2em; }
    .panam .flex-direction-nav .next {
      bottom: 7em;
      right: -2em; } }
  @media (max-width: 400px) {
    .panam .slider-container {
      display: none; } }
  .panam .breadcrumbs {
    display: none; }
  @media (min-width: 480px) {
    .panam .breadcrumbs {
      display: block;
      margin: 0;
      font-size: 1.2em;
      background: transparent url("../img/breadcrumb.png") no-repeat scroll left center; }
      .panam .breadcrumbs li {
        list-style: none;
        display: inline; }
        .panam .breadcrumbs li:after {
          content: "/"; }
        .panam .breadcrumbs li:last-child:after {
          content: ""; }
        .panam .breadcrumbs li.last:after {
          content: ""; } }
  .panam .hentry {
    margin-bottom: 1em; }
  .panam h2.entry-title {
    font-weight: bold;
    margin-bottom: 0; }
  .panam .entry-info {
    padding-left: 2em;
    background: transparent url("../img/category.png") no-repeat scroll 0.5em; }
  .panam .entry-last-update {
    display: none; }
  .panam .entry-image {
    margin-bottom: 1.5em; }
    .panam .entry-image img {
      width: 100%; }
  .panam .entry-summary p {
    text-align: justify;
    font-size: 1.2em;
    font-weight: bold; }
    .panam .entry-summary p:first-of-type:first-letter {
      font-size: 1.4em;
      line-height: 0; }
  .panam .entry-content {
    text-align: justify; }
    .panam .entry-content p {
      font-size: 1.2em; }
    .panam .entry-content img {
      padding: 1em;
      max-width: 100%;
      box-sizing: border-box; }
      .panam .entry-content img, .panam .entry-content img.left {
        margin: 0 1em 1em 0;
        float: left; }
      .panam .entry-content img.right {
        margin: 0 0 1em 1em;
        float: right; }
    .panam .entry-content li {
      list-style-image: none; }
    .panam .entry-content .hide {
      display: none; }
    .panam .entry-content .highlight {
      background: yellow; }
  .panam .continue-reading {
    clear: both;
    font-size: 1.2em; }
    .panam .continue-reading a:after {
      content: "\21d2"; }
  .panam .entry-footer {
    clear: both; }
    .panam .entry-footer p {
      margin: 0; }
  .panam .entry-tags strong {
    padding-left: 1.5em;
    background: transparent url("../img/tags.png") no-repeat scroll; }
  .panam .entry-shorturl strong {
    padding-left: 1.5em;
    background: transparent url("../img/shorturl.png") no-repeat scroll; }
  .panam .entry-discussions strong {
    padding-left: 1.5em;
    background: transparent url("../img/comments.png") no-repeat scroll; }
  .panam .entry-widgets p, .panam .entry-widgets ul {
    padding-left: 1.5em; }
  .panam .entry-widgets, .panam #comments, .panam #pingbacks, .panam #trackbacks {
    padding-top: 1em; }
  .panam #comment-list li, .panam #pingback-list li, .panam #trackback-list li {
    list-style: none;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em; }
  .panam #comment-list li {
    min-height: 90px; }
  .panam #comment-list img {
    float: left;
    margin-right: 1em;
    padding: 0.5em; }
  .panam p.comment-info, .panam p.trackback-info, .panam p.pingback-info {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em; }
  .panam .anchor-link {
    font-weight: normal;
    font-size: 1em; }
  .panam .feed {
    background: transparent url("../img/rss.png") no-repeat scroll left center;
    padding-left: 1.5em; }
  .panam a[rel=archives] {
    display: inline-block; }
    .panam a[rel=archives]:first-letter {
      text-transform: uppercase; }
  .panam ul.paginator {
    margin: 0;
    padding: 1.5em 0;
    font-size: 1.2em; }
    .panam ul.paginator li {
      list-style: none;
      display: inline-block;
      margin-right: 0.3em; }
      .panam ul.paginator li.current {
        font-weight: bold; }
      .panam ul.paginator li.current, .panam ul.paginator li.index, .panam ul.paginator li.ellipsis, .panam ul.paginator li * {
        padding: 0 0.5em; }
      .panam ul.paginator li.index, .panam ul.paginator li.previous, .panam ul.paginator li.next, .panam ul.paginator li.ellipsis {
        display: none; }
      @media (min-width: 480px) {
        .panam ul.paginator li.previous, .panam ul.paginator li.next, .panam ul.paginator li.ellipsis {
          display: inline-block; } }
      @media (min-width: 1024px) {
        .panam ul.paginator li.index {
          display: inline-block; } }
  .panam #footer {
    padding-top: 1em; }
  .panam #sidebar h3 {
    padding: 0.5em; }
  .panam #sidebar p {
    padding-left: 1em; }
  .panam #sidebar ul, .panam #sidebar ol {
    margin-left: 1em; }
    .panam #sidebar ul ul, .panam #sidebar ul ol, .panam #sidebar ol ul, .panam #sidebar ol ol {
      margin-left: 0em; }
  .panam .tag-cloud {
    padding: 0;
    font-size: 1.4em;
    line-height: 1.68em; }
    .panam .tag-cloud li {
      list-style: none;
      display: inline; }
    .panam .tag-cloud .tag-1 {
      font-size: 0.7em; }
    .panam .tag-cloud .tag-2 {
      font-size: 0.93333em; }
    .panam .tag-cloud .tag-3 {
      font-size: 1.05em; }
    .panam .tag-cloud .tag-4 {
      font-size: 1.86667em; }
    .panam .tag-cloud .tag-5 {
      font-size: 2.1em; }
    .panam .tag-cloud .tag-6 {
      font-size: 2.8em; }
  .panam .entries-popular a {
    display: block; }
  .panam [class*='entries-calendar'] {
    table-layout: fixed; }
    .panam [class*='entries-calendar'] caption, .panam [class*='entries-calendar'] td, .panam [class*='entries-calendar'] th {
      padding: 4px 0;
      text-align: center; }
    .panam [class*='entries-calendar'] caption {
      font-weight: bold;
      text-transform: uppercase; }
    .panam [class*='entries-calendar'] tfoot td {
      font-style: normal;
      text-transform: capitalize; }
    .panam [class*='entries-calendar'] .entry {
      font-weight: bold; }
  .panam.default {
    color: #333;
    background-color: #fff;
    background: transparent url("../img/background.gif") repeat-x scroll left top; }
    .panam.default h1, .panam.default h2, .panam.default h3, .panam.default h4, .panam.default h5, .panam.default h6 {
      color: #333; }
    .panam.default a {
      color: #666; }
      .panam.default a:visited {
        color: #666; }
      .panam.default a:focus {
        color: #666; }
      .panam.default a:hover {
        color: #333; }
      .panam.default a:active {
        color: #333; }
    .panam.default blockquote, .panam.default pre {
      background-color: #eee;
      color: #333; }
    .panam.default blockquote {
      border: 1px dashed #ccc; }
    .panam.default pre {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
    .panam.default abbr, .panam.default acronym {
      border-bottom: 1px dotted #ccc; }
    .panam.default h2.entry-title {
      border-bottom: 1px solid #ddd;
      text-shadow: 1px 1px 0 #ddd; }
    .panam.default .entry-info {
      color: #666; }
    .panam.default .entry-content {
      color: #333; }
    .panam.default .entry-image figcaption {
      color: #666; }
    .panam.default .entry-content img {
      border: 1px solid #ddd; }
    .panam.default .entry-footer strong {
      color: #666; }
    .panam.default .entry-widgets, .panam.default #comments, .panam.default #pingbacks, .panam.default #trackbacks, .panam.default #footer {
      border-top: 1px solid #ddd; }
    .panam.default li.comment, .panam.default li.pingback, .panam.default li.trackback {
      border: 1px solid #ddd; }
      .panam.default li.comment img, .panam.default li.pingback img, .panam.default li.trackback img {
        border: 1px solid #ddd; }
    .panam.default .superuser-comment img {
      background-color: #ddd; }
    .panam.default #header {
      border-bottom: 1px solid #ddd; }
      .panam.default #header h1 {
        text-shadow: 2px 2px 2px #ccc; }
      .panam.default #header blockquote {
        color: #666; }
    .panam.default fieldset {
      border: 1px solid #ddd; }
    .panam.default legend, .panam.default caption {
      color: #666; }
    .panam.default input[type=url], .panam.default input[type=email], .panam.default input[type=text], .panam.default input[type=password],
    .panam.default textarea {
      color: #666;
      background-color: #eee;
      border: 1px solid #ddd; }
      .panam.default input[type=url]:focus, .panam.default input[type=email]:focus, .panam.default input[type=text]:focus, .panam.default input[type=password]:focus,
      .panam.default textarea:focus {
        border-color: #ccc;
        color: #000; }
    .panam.default ol.flex-control-nav li a {
      background: #eee; }
      .panam.default ol.flex-control-nav li a:hover {
        background: #ccc; }
      .panam.default ol.flex-control-nav li a.active {
        background: #ddd; }
    .panam.default #sidebar h3 {
      background-color: #eee; }
    .panam.default [class*='entries-calendar'] th, .panam.default [class*='entries-calendar'] tfoot td {
      color: #666;
      background: none repeat scroll 0 0 #eee;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd; }
    .panam.default .paginator {
      border-top: 1px solid #ddd; }
      .panam.default .paginator li {
        border: solid 1px #ddd; }
        .panam.default .paginator li.page:hover {
          background-color: #ccc; }
          .panam.default .paginator li.page:hover a {
            color: #333; }
    .panam.default.entry-list .hfeed > h2 {
      border-top: 1px solid #ddd; }
  .panam.light {
    color: #657b83;
    background-color: #fdf6e3; }
    .panam.light h1, .panam.light h2, .panam.light h3, .panam.light h4, .panam.light h5, .panam.light h6 {
      color: #073642; }
    .panam.light a {
      color: #586e75; }
      .panam.light a:visited {
        color: #586e75; }
      .panam.light a:focus {
        color: #586e75; }
      .panam.light a:hover {
        color: #073642; }
      .panam.light a:active {
        color: #073642; }
    .panam.light blockquote, .panam.light pre {
      background-color: #eee8d5;
      color: #073642; }
    .panam.light blockquote {
      border: 1px dashed #839496; }
    .panam.light pre {
      border-top: 1px solid #839496;
      border-bottom: 1px solid #839496; }
    .panam.light abbr, .panam.light acronym {
      border-bottom: 1px dotted #839496; }
    .panam.light h2.entry-title {
      border-bottom: 1px solid #93a1a1;
      text-shadow: 1px 1px 0 #93a1a1; }
    .panam.light .entry-info {
      color: #586e75; }
    .panam.light .entry-content {
      color: #073642; }
    .panam.light .entry-image figcaption {
      color: #586e75; }
    .panam.light .entry-content img {
      border: 1px solid #93a1a1; }
    .panam.light .entry-footer strong {
      color: #586e75; }
    .panam.light .entry-widgets, .panam.light #comments, .panam.light #pingbacks, .panam.light #trackbacks, .panam.light #footer {
      border-top: 1px solid #93a1a1; }
    .panam.light li.comment, .panam.light li.pingback, .panam.light li.trackback {
      border: 1px solid #93a1a1; }
      .panam.light li.comment img, .panam.light li.pingback img, .panam.light li.trackback img {
        border: 1px solid #93a1a1; }
    .panam.light .superuser-comment img {
      background-color: #93a1a1; }
    .panam.light #header {
      border-bottom: 1px solid #93a1a1; }
      .panam.light #header h1 {
        text-shadow: 2px 2px 2px #839496; }
      .panam.light #header blockquote {
        color: #586e75; }
    .panam.light fieldset {
      border: 1px solid #93a1a1; }
    .panam.light legend, .panam.light caption {
      color: #586e75; }
    .panam.light input[type=url], .panam.light input[type=email], .panam.light input[type=text], .panam.light input[type=password],
    .panam.light textarea {
      color: #586e75;
      background-color: #eee8d5;
      border: 1px solid #93a1a1; }
      .panam.light input[type=url]:focus, .panam.light input[type=email]:focus, .panam.light input[type=text]:focus, .panam.light input[type=password]:focus,
      .panam.light textarea:focus {
        border-color: #839496;
        color: #002b36; }
    .panam.light ol.flex-control-nav li a {
      background: #eee8d5; }
      .panam.light ol.flex-control-nav li a:hover {
        background: #839496; }
      .panam.light ol.flex-control-nav li a.active {
        background: #93a1a1; }
    .panam.light #sidebar h3 {
      background-color: #eee8d5; }
    .panam.light [class*='entries-calendar'] th, .panam.light [class*='entries-calendar'] tfoot td {
      color: #586e75;
      background: none repeat scroll 0 0 #eee8d5;
      border-bottom: 1px solid #93a1a1;
      border-top: 1px solid #93a1a1; }
    .panam.light .paginator {
      border-top: 1px solid #93a1a1; }
      .panam.light .paginator li {
        border: solid 1px #93a1a1; }
        .panam.light .paginator li.page:hover {
          background-color: #839496; }
          .panam.light .paginator li.page:hover a {
            color: #073642; }
    .panam.light.entry-list .hfeed > h2 {
      border-top: 1px solid #93a1a1; }
  .panam.dark {
    color: #839496;
    background-color: #002b36; }
    .panam.dark h1, .panam.dark h2, .panam.dark h3, .panam.dark h4, .panam.dark h5, .panam.dark h6 {
      color: #eee8d5; }
    .panam.dark a {
      color: #93a1a1; }
      .panam.dark a:visited {
        color: #93a1a1; }
      .panam.dark a:focus {
        color: #93a1a1; }
      .panam.dark a:hover {
        color: #eee8d5; }
      .panam.dark a:active {
        color: #eee8d5; }
    .panam.dark blockquote, .panam.dark pre {
      background-color: #073642;
      color: #eee8d5; }
    .panam.dark blockquote {
      border: 1px dashed #657b83; }
    .panam.dark pre {
      border-top: 1px solid #657b83;
      border-bottom: 1px solid #657b83; }
    .panam.dark abbr, .panam.dark acronym {
      border-bottom: 1px dotted #657b83; }
    .panam.dark h2.entry-title {
      border-bottom: 1px solid #586e75;
      text-shadow: 1px 1px 0 #586e75; }
    .panam.dark .entry-info {
      color: #93a1a1; }
    .panam.dark .entry-content {
      color: #eee8d5; }
    .panam.dark .entry-image figcaption {
      color: #93a1a1; }
    .panam.dark .entry-content img {
      border: 1px solid #586e75; }
    .panam.dark .entry-footer strong {
      color: #93a1a1; }
    .panam.dark .entry-widgets, .panam.dark #comments, .panam.dark #pingbacks, .panam.dark #trackbacks, .panam.dark #footer {
      border-top: 1px solid #586e75; }
    .panam.dark li.comment, .panam.dark li.pingback, .panam.dark li.trackback {
      border: 1px solid #586e75; }
      .panam.dark li.comment img, .panam.dark li.pingback img, .panam.dark li.trackback img {
        border: 1px solid #586e75; }
    .panam.dark .superuser-comment img {
      background-color: #586e75; }
    .panam.dark #header {
      border-bottom: 1px solid #586e75; }
      .panam.dark #header h1 {
        text-shadow: 2px 2px 2px #657b83; }
      .panam.dark #header blockquote {
        color: #93a1a1; }
    .panam.dark fieldset {
      border: 1px solid #586e75; }
    .panam.dark legend, .panam.dark caption {
      color: #93a1a1; }
    .panam.dark input[type=url], .panam.dark input[type=email], .panam.dark input[type=text], .panam.dark input[type=password],
    .panam.dark textarea {
      color: #93a1a1;
      background-color: #073642;
      border: 1px solid #586e75; }
      .panam.dark input[type=url]:focus, .panam.dark input[type=email]:focus, .panam.dark input[type=text]:focus, .panam.dark input[type=password]:focus,
      .panam.dark textarea:focus {
        border-color: #657b83;
        color: #fdf6e3; }
    .panam.dark ol.flex-control-nav li a {
      background: #073642; }
      .panam.dark ol.flex-control-nav li a:hover {
        background: #657b83; }
      .panam.dark ol.flex-control-nav li a.active {
        background: #586e75; }
    .panam.dark #sidebar h3 {
      background-color: #073642; }
    .panam.dark [class*='entries-calendar'] th, .panam.dark [class*='entries-calendar'] tfoot td {
      color: #93a1a1;
      background: none repeat scroll 0 0 #073642;
      border-bottom: 1px solid #586e75;
      border-top: 1px solid #586e75; }
    .panam.dark .paginator {
      border-top: 1px solid #586e75; }
      .panam.dark .paginator li {
        border: solid 1px #586e75; }
        .panam.dark .paginator li.page:hover {
          background-color: #657b83; }
          .panam.dark .paginator li.page:hover a {
            color: #eee8d5; }
    .panam.dark.entry-list .hfeed > h2 {
      border-top: 1px solid #586e75; }
  .panam.yellow h1, .panam.yellow h2, .panam.yellow h3, .panam.yellow h4, .panam.yellow h5, .panam.yellow h6 {
    color: #b58900; }
  .panam.yellow a {
    color: #b58900; }
    .panam.yellow a:visited {
      color: #b58900; }
    .panam.yellow a:focus {
      color: #b58900; }
    .panam.yellow a:hover {
      color: #cf9c00; }
    .panam.yellow a:active {
      color: #00e802; }
  .panam.yellow ol.flex-control-nav li a.active {
    background: #b58900; }
  .panam.yellow .slide-content a {
    color: #ffc203; }
  .panam.orange h1, .panam.orange h2, .panam.orange h3, .panam.orange h4, .panam.orange h5, .panam.orange h6 {
    color: #cb4b16; }
  .panam.orange a {
    color: #cb4b16; }
    .panam.orange a:visited {
      color: #cb4b16; }
    .panam.orange a:focus {
      color: #cb4b16; }
    .panam.orange a:hover {
      color: #e25418; }
    .panam.orange a:active {
      color: #82e82c; }
  .panam.orange ol.flex-control-nav li a.active {
    background: #cb4b16; }
  .panam.orange .slide-content a {
    color: #eb7443; }
  .panam.red h1, .panam.red h2, .panam.red h3, .panam.red h4, .panam.red h5, .panam.red h6 {
    color: #dc322f; }
  .panam.red a {
    color: #dc322f; }
    .panam.red a:visited {
      color: #dc322f; }
    .panam.red a:focus {
      color: #dc322f; }
    .panam.red a:hover {
      color: #e04845; }
    .panam.red a:active {
      color: #bfe35b; }
  .panam.red ol.flex-control-nav li a.active {
    background: #dc322f; }
  .panam.red .slide-content a {
    color: #e77370; }
  .panam.magenta h1, .panam.magenta h2, .panam.magenta h3, .panam.magenta h4, .panam.magenta h5, .panam.magenta h6 {
    color: #d33682; }
  .panam.magenta a {
    color: #d33682; }
    .panam.magenta a:visited {
      color: #d33682; }
    .panam.magenta a:focus {
      color: #d33682; }
    .panam.magenta a:hover {
      color: #d84b8f; }
    .panam.magenta a:active {
      color: #dcbf60; }
  .panam.magenta ol.flex-control-nav li a.active {
    background: #d33682; }
  .panam.magenta .slide-content a {
    color: #e175a9; }
  .panam.violet h1, .panam.violet h2, .panam.violet h3, .panam.violet h4, .panam.violet h5, .panam.violet h6 {
    color: #6c71c4; }
  .panam.violet a {
    color: #6c71c4; }
    .panam.violet a:visited {
      color: #6c71c4; }
    .panam.violet a:focus {
      color: #6c71c4; }
    .panam.violet a:hover {
      color: #7e83cb; }
    .panam.violet a:active {
      color: #d390c6; }
  .panam.violet ol.flex-control-nav li a.active {
    background: #6c71c4; }
  .panam.violet .slide-content a {
    color: #a3a6da; }
  .panam.blue h1, .panam.blue h2, .panam.blue h3, .panam.blue h4, .panam.blue h5, .panam.blue h6 {
    color: #268bd2; }
  .panam.blue a {
    color: #268bd2; }
    .panam.blue a:visited {
      color: #268bd2; }
    .panam.blue a:focus {
      color: #268bd2; }
    .panam.blue a:hover {
      color: #3797db; }
    .panam.blue a:active {
      color: #ad4cdf; }
  .panam.blue ol.flex-control-nav li a.active {
    background: #268bd2; }
  .panam.blue .slide-content a {
    color: #62ade3; }
  .panam.cyan h1, .panam.cyan h2, .panam.cyan h3, .panam.cyan h4, .panam.cyan h5, .panam.cyan h6 {
    color: #2aa198; }
  .panam.cyan a {
    color: #2aa198; }
    .panam.cyan a:visited {
      color: #2aa198; }
    .panam.cyan a:focus {
      color: #2aa198; }
    .panam.cyan a:hover {
      color: #2fb5ab; }
    .panam.cyan a:active {
      color: #4f35c9; }
  .panam.cyan ol.flex-control-nav li a.active {
    background: #2aa198; }
  .panam.cyan .slide-content a {
    color: #48cfc5; }
  .panam.green h1, .panam.green h2, .panam.green h3, .panam.green h4, .panam.green h5, .panam.green h6 {
    color: #859900; }
  .panam.green a {
    color: #859900; }
    .panam.green a:visited {
      color: #859900; }
    .panam.green a:focus {
      color: #859900; }
    .panam.green a:hover {
      color: #9bb300; }
    .panam.green a:active {
      color: #00cc4e; }
  .panam.green ol.flex-control-nav li a.active {
    background: #859900; }
  .panam.green .slide-content a {
    color: #c8e600; }
  .panam .info {
    color: white;
    background: #f15e29;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-color: #f48259;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 1em; }
    .panam .info a {
      font-weight: bold;
      color: white; }
      .panam .info a:visited {
        color: white; }
      .panam .info a:focus {
        color: white; }
      .panam .info a:hover {
        color: white; }
      .panam .info a:active {
        color: white; }
  .panam .error {
    color: white;
    background: #da0000;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-color: #ff0e0e;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 1em; }
    .panam .error a {
      font-weight: bold;
      color: white; }
      .panam .error a:visited {
        color: white; }
      .panam .error a:focus {
        color: white; }
      .panam .error a:hover {
        color: white; }
      .panam .error a:active {
        color: white; }
  .panam .success {
    color: white;
    background: #7fae00;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-color: #a4e100;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 0.5em;
    margin-bottom: 1em; }
    .panam .success a {
      font-weight: bold;
      color: white; }
      .panam .success a:visited {
        color: white; }
      .panam .success a:focus {
        color: white; }
      .panam .success a:hover {
        color: white; }
      .panam .success a:active {
        color: white; }

/*# sourceMappingURL=screen.css.map */
