
.company-logo{
    max-height:30vh;
}

.intro {
    background-image: url("/media/panam/site/img/landing.jpg");
    box-shadow:inset 0 0 0 2000px rgba(45,56,68,0.7);

}

.main-color{
  color:$main-color;
}

.arrow {
  box-sizing: border-box;
  height: 10vw;
  width: 10vw;
  border-style: solid;
  margin:0 auto;
  border-color: $main-color;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.entry-image{
  width:100vw;
  position: absolute;
}
