{% load calendar_override i18n %}

<div class="container entry-base">
    <div class="col-12">
        <div class="row" style="margin-bottom:75px">

            {% get_calendar_entries %}


        </div>


        <div class="row">
            {% for entry in object_list %}
                {% if 'events' in entry.categories.first.slug %}

                    {% include "./tags/event_featured.html" %}



                {% endif %}


            {% empty %}
                <p class="info">
                    <a href="{% url 'admin:zinnia_entry_add' %}">{% trans "No entries yet." %}</a>
                </p>
            {% endfor %}
        </div>
    </div>
</div>