{% extends "zinnia/base.html" %}
{% load comments i18n zinnia staticfiles %}
{% block content %}


    <!-- Page Content -->


    {% with "/"|add:object.image.url as IMAGE_URL %}


        <div style="background-image:url('{{ IMAGE_URL }}');" alt="{{ object.title }}"
             class="img-responsive header-image"></div>
    {% endwith %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="mt-4"><a href="{{ object.get_absolute_url }}" title="{{ object.title }}"
                                            rel="bookmark">
                            {{ object.title|widont }}
                        </a></h2>

                        <small class="entry-info">
                            {% block entry-authors %}
                                {% with authors=object.authors.all %}
                                    {% if authors|length %}
                                        {% trans "Written by" %}
                                        {% for author in authors %}
                                            <span class="vcard author">
          <a href="{{ author.get_absolute_url }}" class="fn url{% if not author.get_full_name %} nickname{% endif %}"
             rel="author"
             title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">{{ author }}</a></span>
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        {% trans "on" context "on date" %}
                                    {% else %}
                                        {% trans "Written on" %}
                                    {% endif %}
                                {% endwith %}
                            {% endblock entry-authors %}
                            {% block entry-published %}
                                <time class="published" datetime="{{ object.publication_date|date:"c" }}"
                                      pubdate="pubdate">{{ object.publication_date|date:"DATE_FORMAT" }}</time>
                            {% endblock entry-published %}
                            {% block entry-categories %}
                                {% with categories=object.categories.all %}
                                    {% if categories|length %}
                                        {% trans "in" %}
                                        {% for category in categories %}
                                            <a href="{{ category.get_absolute_url }}"
                                               title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
                                               rel="tag category">{{ category }}</a>{% if not forloop.last %},
                                        {% endif %}{% endfor %}{% endif %}.
                                {% endwith %}
                            {% endblock entry-categories %}
                        </small>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        {% block entry-content %}
                            {% autoescape off %}{{ object.content }}{% endautoescape %}
                            {#  {% include object.content_template with object_content=object.html_content %}#}
                        {% endblock entry-content %}
                    </div>


                </div>
            </div>
            <div class="col-sm-4 events-widget">
                <h2>upcoming events</h2>
                <aside role="complementary" class="entry-widgets">
                    {% block entry-next-entry %}
                        {% with next_entry=object.next_entry %}
                            {% if next_entry %}
                                <div class="entry-next">
                                    <h3>{% trans "Next entry" %}</h3>
                                    <p>
                                        <a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}"
                                           rel="next">
                                            {{ next_entry.title }}
                                        </a>
                                    </p>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endblock entry-next-entry %}
                    {% block entry-previous-entry %}
                        {% with previous_entry=object.previous_entry %}
                            {% if previous_entry %}
                                <div class="entry-previous">
                                    <h3>{% trans "Previous entry" %}</h3>
                                    <p>
                                        <a href="{{ previous_entry.get_absolute_url }}"
                                           title="{{ previous_entry.title }}" rel="prev">
                                            {{ previous_entry.title }}
                                        </a>
                                    </p>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endblock entry-previous-entry %}










                    {% block entry-similar-entries %}
                        <div class="entry-similar">
                            <h3>{% trans "Similar entries" %}</h3>
                            {% get_categories %}
                        </div>
                    {% endblock entry-similar-entries %}
                </aside>
            </div>
        </div>
        <!-- /.row -->


    </div>
{% endblock content %}