{% extends "zinnia/base.html" %}
{% load comments i18n zinnia staticfiles %}
{% load calendar_override %}
{% block is-main-content %}main-content{% endblock is-main-content %}
{% block content %}


    <!-- Page Content -->


    {% if object.gallery.picture_set.all %}

        <div id="demo" class="carousel slide img-responsive" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                {% for tmp_image in object.gallery.picture_set.all %}
                    <li data-target="#demo" data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                {% for obj_image in object.gallery.picture_set.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="carousel-image" src="/media/{{ obj_image.image }}" alt="{{ obj_image.title }}">
                    </div>
                {% endfor %}

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    {% elif not object.gallery.picture_set.all and not object.image %}
        <div style="display:block;width:100%;height: 125px;position:relative;"></div>
    {% else %}
        <div style="background-image:url('{% if object.image %}{{ object.image.url }}{% endif %}');"
             alt="{{ object.title }}"
             class="img-responsive header-image"></div>

    {% endif %}
    <div class="container entry-base">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="mt-4"><a href="{{ object.get_absolute_url }}" title="{{ object.title }}"
                                            rel="bookmark">
                            {{ object.title|widont }}
                        </a></h2>

                        <span class="entry-info">

{#                            {% block entry-published %}#}
{#                                <time class="published" datetime="{{ object.publication_date|date:"c" }}"#}
{#                                      pubdate="pubdate">{{ object.publication_date|date:"DATE_FORMAT" }}</time>#}
{#                            {% endblock entry-published %}#}
                            {% block entry-categories %}
                                {% with categories=object.categories.all %}
                                    {% if categories|length %}
                                  
                                        {% for category in categories %}
                                            <a href="{{ category.get_absolute_url }}"
                                               title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
                                               rel="tag category">{{ category }}</a>{% if not forloop.last %},
                                        {% endif %}{% endfor %}{% endif %}
                                {% endwith %}
                            {% endblock entry-categories %}
                        </span>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-12">
                        {% block entry-content %}
                            {% autoescape off %}{{ object.content }}{% endautoescape %}
                            {#  {% include object.content_template with object_content=object.html_content %}#}
                        {% endblock entry-content %}
                    </div>


                </div>
            </div>
            <div class="col-sm-4 events-widget text-centered">
                <h2 class="text-center">Upcoming Events</h2>
                <aside role="complementary" class="entry-widgets">

{% get_event_entries %}




                    {% block entry-next-entry %}
                        {% with next_entry=object.next_entry %}
                            {% if next_entry %}
                                <div class="entry-next">
                                    <h3>{% trans "Next" %}</h3>
                                    <p>
                                        <a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}"
                                           rel="next">
                                            {{ next_entry.title }}
                                        </a>
                                    </p>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endblock entry-next-entry %}
                    {% block entry-previous-entry %}
                        {% with previous_entry=object.previous_entry %}
                            {% if previous_entry %}
                                <div class="entry-previous">
                                    <h3>{% trans "Previous" %}</h3>
                                    <p>
                                        <a href="{{ previous_entry.get_absolute_url }}"
                                           title="{{ previous_entry.title }}" rel="prev">
                                            {{ previous_entry.title }}
                                        </a>
                                    </p>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endblock entry-previous-entry %}










                    {#                    {% block entry-similar-entries %}#}
                    {#                        <div class="entry-similar">#}
                    {#                            <h3>{% trans "Similar entries" %}</h3>#}
                    {#                            {% get_categories %}#}
                    {#                        </div>#}
                    {#                    {% endblock entry-similar-entries %}#}
                </aside>
            </div>
        </div>
        <!-- /.row -->


    </div>

{% endblock content %}