{% extends "zinnia/base.html" %}
{% load i18n calendar_override %}

{% block meta-description %}{% trans "Archives" %} {{ month|date:"YEAR_MONTH_FORMAT" }}{% endblock meta-description %}

{% block title %}{% trans "Archives" %} {{ month|date:"YEAR_MONTH_FORMAT" }}{% endblock title %}
{% block body-class %}nav-offset-120 h-100{% endblock body-class %}

{% block content-title %}
<h1>{% trans "Archives" %} {{ month|date:"YEAR_MONTH_FORMAT" }}</h1>
{% endblock content-title %}

{% block content %}
    {% include "zinnia/display_event_calendar.html" %}
{% endblock content %}
