{% extends "zinnia/base.html" %}
{% load i18n %}
{% load zinnia %}
{% load calendar_override %}

{% block meta-description %}{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}{% endblock meta-description %}

{% block title %}{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}{% endblock title %}
{% block is-main-content %}nav-offset-120{% endblock %}

{% block content-title %}
    <h1>{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}</h1>
{% endblock content-title %}
{% block content %}
    {% include "zinnia/display_event_calendar.html" %}
{% endblock content %}

