{% load i18n %}

  {% for entry in entries %}
  <section class="entry col-xs-6" style="background-image:url('{{ entry.image.url }}');">
        <div class="cover-wrapper row-flex no-gutter">
            <div class="date-posted col-xs-3 text-center col-v-centered"><p>{{ entry.publication_date|date:"d/m" }}</p></div>
            <div class="entry-cover col-xs-12">
                <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
                <p class="category">{{ entry.categories.first }}</p>
            </div>
        </div>
      </section>
  {% empty %}
  <ul><li class="list-group-item">
    <a href="#">{% trans "No entries yet." %}</a>
  </li></ul>
  {% endfor %}

