{% extends "base.html" %}
{% load utilities  %}
{% load leaflet_tags landing_blocks %}
{% block is-main-content %}nav-offset-120 h-100{% endblock %}
{% block script %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
    {#    <link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">#}
    <link rel="stylesheet" type="text/css" href="/media/panam/site/js/story-map.css">
{% endblock script %}

{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 main" style="padding-bottom:0px">
            <section  data-place="{{ segments.0.title|clean }}" style="background:none">
            <h2 class="page-header">PAN AM PATH MAP</h2>
                </section>
        </div>
    </div>
        <div class="row">

            <div class="col-sm-7 col-md-6 main">




                {% for segment in segments %}
                    <section data-place="{{ segment.title|clean }}">
                        <p><strong>{{ segment.title }}</strong></p>
                        <p>{% autoescape off %}{{ segment.description }}{% endautoescape %}</p>
                    </section>
                {% endfor %}


            </div>

            <div id="map" class="col-sm-5 col-md-6 sidebar" style="z-index:0">

            </div>

        </div>
    </div>

{% endblock content %}
{% block footer-script %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="/media/panam/site/js/TileLayer.Grayscale.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/media/panam/site/js/storymap.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';

            // additional layers

            var markers = {% autoescape off %}{{ markers }}{% endautoescape %};
            /*var original_markers = {
                balkash: {lat: 44.9117998, lon: 74.1202449, zoom: 12},
                oslo: {lat: 59.92173, lon: 10.75719, zoom: 7},
                trondheim: {lat: 63.4319, lon: 10.3988, zoom: 7},
                bergen: {lat: 60.3992, lon: 5.3227, zoom: 7},
                tromso: {lat: 69.632, lon: 18.9197, zoom: 7},
                kristiansand: {lat: 58.17993, lon: 8.12952, zoom: 7},
                stavanger: {lat: 58.9694, lon: 5.73, zoom: 7},
                bodo: {lat: 67.28319, lon: 14.38565, zoom: 7}
            };*/

            $('.main').storymap({
                markers: markers,
                selector: '[data-place]', //jquery for selectors to trigger an event
                breakpointPos: '20%', //position of the breakpoint
                createMap: function () { //function that creates a map
                    // create a map in the "map" div, set the view to a given place and zoom
                    var map = L.map('map').setView({{ initial_marker }}, 10);

                    let group = new L.FeatureGroup().addTo(map);
                    {% for coord in coordinates %}
                        var line = L.polyline({{ coord }}, {color: '#f68d5d', weight: '5'});

                        line.addTo(group);
                        {#map.fitBounds(line.getBounds());#}
                    {% endfor %}

                    L.tileLayer.grayscale('http://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
                    // zoom the map to the polygon
                    map.fitBounds(group.getBounds());


                    // add an OpenStreetMap tile layer

                    return map;
                }
            });

        }());
    </script>
{% endblock footer-script %}