{% load i18n staticfiles zinnia flatpages %}
{% load leaflet_tags landing_blocks %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>Pan Am Path -
        {% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
    <meta name="robots" content="follow, all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="
















            {% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}"/>
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}"/>

    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/"/>
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}"/>
    {##}
    {##}
    {#    <!-- Stylesheets -->#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/bootstrap.min.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/font-awesome.min.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/owl.theme.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/owl.carousel.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/nivo-theme.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/nivo-lightbox.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/animate.css" %}">#}
    {##}
    {#    <!-- Main Stylsheets -->#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/style.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/panampath.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "panam/site/css/responsive.css" %}">#}

    <!-- Color Sheme CSS -->
    <link rel="stylesheet" href="/media/panam/site/css/panampath.css">

    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% leaflet_js %}
    {% leaflet_css %}

    <link rel="shortcut icon" href="/media/zinnia/theme/img/favicon.ico"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/media/panam/site/assets/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="/media/panam/site/assets/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="/media/panam/site/assets/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed"
          href="/media/panam/site/assets/ico/apple-touch-icon-57-precomposed.png"/>
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
</head>
<body class="zinnia {% block body-class %}{% endblock body-class %}">


<!-- begin preloader -->
<div class="preloader">
    <div class="preloader-content-wrapper">
        <div class="preloader-content">
            <i class="fa fa-cog fa-3x fa-spin"></i>
        </div>
    </div>
</div>
<!-- end preloader -->

<nav class="navbar navbar-dark fixed-top" role="navigation">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <a href="/" title="Pan Am Path" class="navbar-brand" rel="home">
        <img src="/media/panam/site/img/panampath-logo.svg" class="pull-left nav-logo" alt="Pan Am Path"/>
    </a>


    <div class="collapse navbar-collapse" id="navbarCollapse">

        <div class="navbar-nav navbar-left">
            {% get_categories %}
        </div>

    </div>
</nav>

{% block landing %}{% endblock %}

{% block slider %}{% endblock %}
<div class="container-fluid {% block is-main-content %}{% endblock is-main-content %} bg-white">
    <div class="row no-gutter">

        {% block breadcrumbs %}{% endblock %}
        {% block content %}



            {% home_block "map"  "container no-inline" %}
            {% home_block "mission" "entry-base container no-inline" %}
            {% home_block "featured" "container-fluid" %}
            {% home_block "events" "container-fluid" %}




            <div class="col-12">
                <div class="col text-center" style="padding: 25px;"></div>
            </div>

        {% endblock content %}



        {% home_block "newsletter" "container entry-base" %}

    </div>
</div>
<footer>
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-10">
                <ul>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/media/panam/site/assets/js/jquery.js"></script>
<script type="text/javascript" src="/media/panam/site/js/bootstrap.min.js"></script>
{#<script type="text/javascript" src="{% static "panam/site/js/owl.carousel.min.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "panam/site/js/jquery.fitvids.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "panam/site/js/smoothScroll.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "panam/site/js/nivo-lightbox.min.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "panam/site/js/jquery.scrollTo.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "panam/site/js/jquery.nav.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "panam/site/js/wow.min.js" %}"></script>#}
<script type="text/javascript" src="/media/panam/site/js/main.js"></script>

</body>
</html>
