{% load calendar_override zinnia utilities %}

{% now "F Y" as today %}
{% regroup object_list by publication_date|date:"F Y" as events_by_date %}








{% for date in events_by_date %}



    {% if date.grouper %}

        <div class="col-12"
             style="background-color: #f15e2a;margin-bottom:50px;">
            <div class="col text-center" style="padding: 25px;"><h1 style="  font-weight: 700;
  font-size: 24px;">{{ date.grouper|date:"F Y" }}</h1></div>
        </div>


        <div class="container entry-base">
            <div class="col-12">
                <div class="row">
                    {% for entry in date.list %}


                        {% include "./event_featured.html" %}

                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{##}
{#<div class="container entry-base">#}
{#    <div class="col-12">#}
{#        <div class="row">#}
{##}
{#            {% for entry in object_list|sort(attribute='rating') %}#}
{##}
{#                {% include "./event_featured.html" %}#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% block submit-event %}
    {% include "zinnia/submit-event.html" %}
{% endblock submit-event %}
