{% load calendar_override  %}


{% get_calendar_entries %}
{#<div class="event col-6">#}
{#    <div class="row">#}
{#    <div class="col-4 text-right">#}
{#        <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>#}
{#        <h2>OCT</h2>#}
{#    </div>#}
{#    <div class="col-8">#}
{#        <h3 class="text-uppercase"><strong>Ice Cream Social</strong></h3>#}
{#        <ul class="list-inline">#}
{#            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>#}
{#            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>#}
{#            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>#}
{#        </ul>#}
{#        <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore#}
{#            magna aliqua.</p>#}
{#    </div>#}
{#    </div>#}
{#</div>#}


{#    <div class="col-lg-6 col-sm-6 portfolio-item">#}
{#        <div class="card h-100">#}
{#            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>#}
{#            <div class="card-body">#}
{#                <h4 class="card-title">#}
{#                    <a href="#">Project One</a>#}
{#                </h4>#}
{#                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur#}
{#                    eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt,#}
{#                    illum tempora ex quae? Nihil, dolorem!</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-6 col-sm-6 portfolio-item">#}
{#        <div class="card h-100">#}
{#            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>#}
{#            <div class="card-body">#}
{#                <h4 class="card-title">#}
{#                    <a href="#">Project Two</a>#}
{#                </h4>#}
{#                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,#}
{#                    gravida pellentesque urna varius vitae.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-6 col-sm-6 portfolio-item">#}
{#        <div class="card h-100">#}
{#            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>#}
{#            <div class="card-body">#}
{#                <h4 class="card-title">#}
{#                    <a href="#">Project Three</a>#}
{#                </h4>#}
{#                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod#}
{#                    sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure#}
{#                    perspiciatis mollitia recusandae vero vel quam!</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-6 col-sm-6 portfolio-item">#}
{#        <div class="card h-100">#}
{#            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>#}
{#            <div class="card-body">#}
{#                <h4 class="card-title">#}
{#                    <a href="#">Project Four</a>#}
{#                </h4>#}
{#                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,#}
{#                    gravida pellentesque urna varius vitae.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-6 col-sm-6 portfolio-item">#}
{#        <div class="card h-100">#}
{#            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>#}
{#            <div class="card-body">#}
{#                <h4 class="card-title">#}
{#                    <a href="#">Project Five</a>#}
{#                </h4>#}
{#                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,#}
{#                    gravida pellentesque urna varius vitae.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-6 col-sm-6 portfolio-item">#}
{#        <div class="card h-100">#}
{#            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>#}
{#            <div class="card-body">#}
{#                <h4 class="card-title">#}
{#                    <a href="#">Project Six</a>#}
{#                </h4>#}
{#                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum#}
{#                    suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates,#}
{#                    nemo repellat fugiat excepturi! Nemo, esse.</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
