{% load i18n staticfiles zinnia flatpages %}

<div class="col-12" style="background-color: #f15e2a;{% if 'no-margin' not in class_style %}margin-bottom:50px;{% endif %}">
    <div class="col text-center" style="padding: 25px;"><h1 style="  font-weight: 700;
  font-size: 24px;"><a href="{% if not url %}/blog/categories/{{ category }}{% else %}{{ url }}{% endif %}" style="color:black">{{ category|upper }}</a></h1></div>
</div>


<div class="{{ class_style }} {{ category }}-content" style="{% if 'no-margin' not in class_style %}margin-bottom:50px;{% endif %}">
    <div class="row">
        <div class="col-12 {% if 'no-inline' not in class_style %}inline-flex{% endif %}" style="{% if 'no-margin' in class_style %}padding:0;{% endif %}">


            {% with template_name=category|stringformat:"s"|add:"_block.html" %}
                {% include "tags/"|add:template_name %}
            {% endwith %}


        </div>
    </div>
</div>