{% load i18n staticfiles %}
{% load leaflet_tags landing_blocks %}


{% leaflet_map "homeblock" %}
<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        let detail = e.detail;
        let latlngs = {{ coordinates }};
        detail.map.scrollWheelZoom.disable();
        detail.map.touchZoom.disable();
        detail.map.doubleClickZoom.disable();
        detail.map.scrollWheelZoom.disable();
        detail.map.boxZoom.disable();
        detail.map.keyboard.disable();
        $(".leaflet-control-zoom").css("visibility", "hidden");



            {% for coord in coordinates %}
                line = L.polyline({{ coord }}, {color: '#f15e2a', weight:'5'});
                line.bindPopup("{% autoescape off %}{% spaceless %}{{ popups|get_value_at:forloop.counter0 }}{% endspaceless %}{% endautoescape %}");
                line.addTo(detail.map);
                detail.map.fitBounds(line.getBounds());
        {% endfor %}

        // zoom the map to the polygon
        //detail.map.fitBounds(lines.getBounds());

    }, false);
</script>{% comment %}{% endcomment %}