{% load i18n staticfiles %}
{% load leaflet_tags landing_blocks %}


{% leaflet_map "homeblock" %}
<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        let detail = e.detail;
        let latlngs = {{ coordinates }};
        detail.map.scrollWheelZoom.disable();
        detail.map.touchZoom.disable();
        detail.map.doubleClickZoom.disable();

        //detail.map.boxZoom.disable();
        detail.map.keyboard.disable();
        //detail.map.dragging.disable();
        //$(".leaflet-control-zoom").css("visibility", "hidden");


        let group = new L.FeatureGroup().addTo(detail.map);
        {% for coord in coordinates %}
            line = L.polyline({{ coord }}, {color: '#f68d5d', weight: '5'});
            line.bindPopup(`{% autoescape off %}{% spaceless %}{{ popups|get_value_at:forloop.counter0 }}{% endspaceless %}{% endautoescape %}`, {
                maxHeight: 250,
                closeOnClick: false,
                keepInView: true
            });
            line.addTo(group);
            detail.map.fitBounds(line.getBounds());
        {% endfor %}
        L.tileLayer.grayscale('http://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(detail.map);
        // zoom the map to the polygon
        detail.map.fitBounds(group.getBounds());

    }, false);
</script>{% comment %}{% endcomment %}
