{% load i18n staticfiles zinnia flatpages %}

{% get_flatpages '/mission/' as missionpages %}




{% for missionpage in missionpages %}
    {% if forloop.first %}
        <div class="row">
            <div class="col-12 text-center">
                {% autoescape off %}{{ missionpage.content }}{% endautoescape %}
            </div>
        </div>


    {% endif %}
{% endfor %}



{% for missionpage in missionpages %}
    {% if forloop.first %}
        <div class="row inline-flex">
    {% endif %}
{% if not forloop.first %}



    <div class="col-sm-6">


        {% autoescape off %}{{ missionpage.content }}{% endautoescape %}


    </div>






{% endif %}
{% if forloop.last %}
    </div>
{% endif %}
{% endfor %}

