{% load i18n staticfiles zinnia flatpages %}

{% get_flatpages '/mission/' as missionpages %}

<div class="inline-flex">


    {% for missionpage in missionpages %}
        {% if forloop.first %}
            <div class="row">
                <div class="col-12 text-center" style="display:block">
                    {% autoescape off %}{{ missionpage.content }}{% endautoescape %}
                </div>
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}



    {% for missionpage in missionpages %}
        {% if not forloop.first %}



            <div class="col-sm-6">


                {% autoescape off %}{{ missionpage.content }}{% endautoescape %}


            </div>






        {% endif %}
    {% endfor %}
    </div>
</div>